/* box model with reset*/

html {
  box-sizing: border-box;
}
*,*:before, *:after {
  box-sizing: inherit;
}

/* universal styles */

* {
  border: 2px solid black;
}

html {
  font-size: 18px;
}
body {
  line-height: 1.4rem;
  font-family: "helvetica", sans-serif;
}

.container {
  width: 960px;
  display: flex;
  margin: 0 auto;
}

/* background image */

.background-image-container {
  background-image: url("/Users/SamCollins/Documents/GitHub/SamColl.io/tortoiseshell/resources/images/glasses-bg.png");
  height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;

}
@media only screen and (max-width: 1024px) {
  .background-image-container {
    height: 22rem;
    background-position: 40%;
  }
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 560px) {
  .background-image-container {
    height: 17rem;
    background-position: 30%;
  }
  .container {
    width: 100%;
  }
}
/* top banner with logo and menu */
.top-banner {
  background-color: cadetblue;
  display: flex;
  width: 100%;
  position: relative;
  top: 1rem;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.top-text {
  color: white;

}
.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}
.menu {
  display: flex;
  justify-content: flex-end;
}
 ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;

}
li {
  padding: 1rem 1rem;
}
.small-screen-menu {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .top-banner {
    position: absolute;
}
}
@media only screen and (max-width: 615px) {
  .logo span {
    display: none;
  }
  .menu ul {
    display: none;
  }
  .small-screen-menu {
    display: block;
  }
}
