
/* universal styles */



html {
  font-size: 18px;
}
body {
  line-height: 1.4rem;
  font-family: "helvetica", sans-serif;
  width: 100%;
  height: auto;
}

.container {
  max-width: 960px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

/* background image */

.background-image-container {
  background-image: url("/Users/SamCollins/Documents/GitHub/SamColl.io/tortoiseshell/resources/images/glasses-bg.png");
  height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;

}
@media only screen and (max-width: 1024px) {
  .background-image-container {
    height: 22rem;
    background-position: 40%;

  }

}

@media only screen and (max-width: 560px) {
  .background-image-container {
    height: 17rem;
    background-position: 20%;
  }
  .container {
    flex-basis: 1;
  }
}
/* top banner with logo and menu */
.top-banner {
  background-color: cadetblue;
  display: flex;
  position: relative;
  top: 1rem;
  margin: 0 auto;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.top-text {
  color: white;

}
.logo img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 2rem;
}
.menu {
  display: flex;
  justify-content: flex-end;
}
 ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;

}
li {
  padding: 0rem 1rem;
}
.small-screen-menu {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .top-banner {
    position: absolute;
    width: 100%;


}
}
@media only screen and (max-width: 615px) {
  .logo span {
    display: none;
  }
  .menu ul {
    display: none;
  }
  .small-screen-menu {
    display: block;
  }
}
/* tagline */

.tagline-container {
  display: flex;
  justify-content: flex-end;
}


.tagline-box {
  background-color: white;
  position: relative;
  top: 10rem;
  padding: 1.5rem 5rem;
  width: auto;
}
.tagline {
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .tagline-box {
    top: 10rem;
    right: 2rem;
    padding: 0.75rem 4rem;
}
   .tagline {
     font-size: 1.33rem;
   }
}
@media only screen and (max-width: 560px) {
  .tagline-box {
    width: 100%;
    display: inline-block;
    left: 0rem;
    top: 13rem;

  }
  }
 /* icon section */

 .icon-container  {
   display: flex;
   justify-content: center;
   align-content: flex-start;
   height: 8rem;
 }
 .icon-box {
   display: flex;
   flex-direction: column;
   height: 8rem;
   padding: 3rem;
   max-width: 5rem;
   align-items: center;
   justify-content: space-between;
 }

.icon-box.exams img  {
  width: 3.5rem;


}
.icon-box.ruler img {
  max-width: 5rem;
}
.icon-box.truck img {
  max-width: 5rem;
}
.icon-text {
  text-align: center;
}

@media only screen and (max-width: 560px) {
  .icon-container {
  display: block;
  padding: 3.77rem 0;

  }
  .icon-box {
    margin: 0 auto;
    padding: 0;
    height: auto;
  }
  .truck {
    padding-top: 1.54rem;
  }
  .ruler {
    padding-top: 1.54rem;
  }
  .icon-text {
    font-size: 0.77rem;
  }
}

/* info section */
